{% extends 'white_page_base.html' %}

  {% block heading %}
      <h1 class="heading-text">AMBICIÓNとは？</h1>
  {% endblock %}
  {% block bg_picture %}
    <img class="background-img container-fluid" src="{{ url_for('static', filename='/images/stadium.jpg') }}" alt="stadium">
  {% endblock %}
  {% block navigation %}
    <a href="#price-nav-target">
        <div class="nav-btn">始まり</div>
    </a>
    <a href="#choice-nav-target">
        <div class="nav-btn">品質</div>
    </a>
    <a href="#order-nav-target">
        <div class="nav-btn">会社情報</div>
    </a>
  {% endblock %}

{% block contents %}


{% endblock %}