{% include 'header.html' %}

<!-- Main Contents -->
<div class="contents-body fadeUp">


    <!--  Gallery Section -->
    <section id="gallery-section">
    <!-- Section Header -->
    <h1 class="header">ユニフォームを作ろう。</h1>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="container-fluid gallery">
                  <div class="carousel-item active">
                    <img class="gallery-img" src="{{ url_for('static', filename='/images/ryota-main.jpg') }}" alt="gallery">
                    <h2 class="gallery-text ">ANTHEM SC 公式戦ユニフォーム [HOME]</h2>
                  </div>
                </div>
            </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        </div>

      </section>

    <!-- Order Section -->
    <section id="order-section">
    <span id="order-nav-target"></span>
    <hr class="nav-border">

        <!-- Section Header -->
        <h1 class="header">オーダーはこちら。</h1>
        <div class="container-fluid">
                <div class="order-text-area">
                    <h1 class="order-text-header">ユニ上下セット ¥4,500（税別）〜</h1>
                    <p class="order-text-second-header">納期：　約3週間</p>
                    <p>AMBICIÓNでは、唯一無二の品質と低価格を実現するために、</p>
                    <p>デザインデータなどのご準備は、お客様にお願いしております。</p>
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="modal-btn btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#sample-modal">
                          デザインデータとは？
                        </button>
                    </div>
                     <a href="{{ url_for('order') }}">
                        <button type="button" class="section-btn btn btn-primary ">見積もり</button>
                    </a>
                </div>
            </div>

    </section>

    <!-- About Section -->
    <section id="about-section">
    <span id="about-nav-target"></span>
    <hr class="nav-border">

        <!-- Section Header -->
        <h1 class="header">AMBICIÓNとは？</h1>
        <div class="container-fluid">
            <div class="order-text-area">
                <h2 class="small-header">現役のプロサッカー選手が立ち上げた <br>　スリランカ発のアパレルブランド。</h2>
                <!-- youtube player -->
                <iframe class="youtube-intro" src="https://www.youtube.com/embed/oH4Qk8RqQ20"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <br>
                <a href="{{ url_for('about') }}">
                    <button type="button" class="section-btn btn btn-primary ">詳しく</button>
                </a>
            </div>
        </div>

    </section>

</div>
{% include 'footer.html' %}
